<div class="alert border border-1 rounded-2 p-2 mb-2" role="alert" id="header">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <p class="m-0">21120588</p>
      <p class="fs-3">Movie information</p>
      <div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="darkmodeToggle" />
          <label class="form-check-label" for="darkmodeToggle">Dark Mode</label>
        </div>
      </div>
    </div>
  </div>
</div>
