<!-- HIGHEST RATINGS -->
<div class="container p-0 mt-3">
  <div class="container d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <span class="arrow" aria-hidden="true">&lt;</span>
    </div>

    <div
      class="card border border-0 rounded-1"
      style="width: 18rem; height: 26rem"
    >
      <img
        class="rounded-1"
        src="https://m.media-amazon.com/images/M/MV5BZjhhMThhNDItNTY2MC00MmU1LTliNDEtNDdhZjdlNTY5ZDQ1XkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_Ratio0.6762_AL_.jpg"
        alt="movie.title"
        style="width: 100%; height: 100%; object-fit: cover"
      />
      <div
        class="card-img-overlay d-flex flex-column justify-content-end"
        style="height: 400px"
      >
        <div
          class="container d-flex justify-content-center"
          style="height: 400px"
          @click="showMovieDetail(movie)"
        ></div>

        <div class="d-flex justify-content-center">
          <ul class="pagination">
            <li v-for="n in recentPages.total_pages" class="page-item-m">
              <a class="page-link" href="#"> </a>
            </li>
          </ul>
        </div>
        <p
          class="d-flex justify-content-center card-text text-white text-center m-0"
          style="text-shadow: 3px 3px 3px black"
        >
          {{movie.title}}
        </p>
        <div
          class="d-flex justify-content-evenly card-text text-warning text-center m-0"
          style="text-shadow: 3px 3px 3px black"
        >
          <p class="m-0">{{runtimeStr}}</p>

          <p class="m-0">{{ratings.imDb}}</p>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="arrow" aria-hidden="true">&gt;</div>
    </div>
  </div>
</div>
