<!-- TOP BOX OFFICE -->
<!-- <div class="row mt-5">
  <div class="col-6 d-flex align-items-center">
    <span class="fs-4">Top Box Office</span>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <ul class="pagination">
      <li class="page-item-m">
        <a class="page-link" href="#"> </a>
      </li>
    </ul>
  </div>
</div> -->

<div class="d-flex justify-content-around">
  <a class="page-link d-flex align-items-center" aria-label="Previous">
    <span class="arrow" aria-hidden="true">&lt;</span>
  </a>

  <div class="movie-item">
    <div class="container" style="width: 100%; height: 100%">
      <img
        class="rounded-1"
        src="https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_Ratio0.6762_AL_.jpg"
        style="width: 100%; height: 100%; object-fit: fill"
      />
      <div class="card text-bg-dark">Avengers: Endgame 2019</div>
    </div>
  </div>
  <div class="movie-item">
    <div class="container" style="width: 100%; height: 100%">
      <img
        class="rounded-1"
        src="https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_Ratio0.6762_AL_.jpg"
        style="width: 100%; height: 100%; object-fit: fill"
      />
      <div class="card text-bg-dark">Avengers: Infinity War 2019</div>
    </div>
  </div>
  <div class="movie-item">
    <div class="container" style="width: 100%; height: 100%">
      <img
        class="rounded-1"
        src="https://m.media-amazon.com/images/M/MV5BZWMyYzFjYTYtNTRjYi00OGExLWE2YzgtOGRmYjAxZTU3NzBiXkEyXkFqcGdeQXVyMzQ0MzA0NTM@._V1_Ratio0.6762_AL_.jpg"
        style="width: 100%; height: 100%; object-fit: fill"
      />
      <div class="card text-bg-dark">Spider-Man: No Way Home 2021</div>
    </div>
  </div>

  <a class="page-link d-flex align-items-center" aria-label="Next">
    <span class="arrow" aria-hidden="true">&gt;</span>
  </a>
</div>
