<!-- HIGHEST RATINGS -->
<div class="container p-0 mt-3">
  <div
    class="carousels d-flex justify-content-center"
    style="height: 100%; width: 100%"
  >
    <div id="carouselHighestRate" class="carousel slide w-30">
      <div class="carousel-indicators">
        21588{for index in highestRating}
        <button
          type="button"
          data-bs-target="#carouselHighestRate"
          data-bs-slide-to="21588{index}"
        ></button>
        {/for}
      </div>
      <div class="carousel-inner">
        21588{for index in highestRating}
        <div class="carousel-item">
          <img
            src="21588{highestRating[index].image}"
            class="d-block w-100"
            alt="..."
            width="300px"
            height="400px"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>21588{highestRating[index].title}</h5>
            <p>
              Length: <span>21588{highestRating[index].runtimeStr}</span> - Rating:
              <span>21588{highestRating[index].imdbrating}</span>
            </p>
          </div>
        </div>
        {/for}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselNewestMovie"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselNewestMovie"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<!----->
