<!-- <div v-if="isLoading" class="loading-overlay">
      <div class="loading-spinner">Loading...</div>
    </div> -->
<nav class="navbar navbar-expand-lg border rounded-2" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">🏠</a>
    <a class="topFavorite" style="text-decoration: none" href="#">21588</a>
    <form class="d-flex" role="search">
      <div class="form-group me-2">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          v-model="searchInput"
        />
      </div>
      <input
        type="submit"
        class="btn btn-outline-success"
        value="Search"
        id="searchbtn"
      />
    </form>
  </div>
</nav>
